:root {
    --logocolor: #0ECCA9;
    --font-family: Georgia, 'Times New Roman', Times, serif;
}
.userpage {
    margin: 10px auto;
    padding: 10px;
}

.user__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user_dashboard {
    flex: 2;
}

.user_dashboard>ul>li {
    background-color: var(--logocolor);
    margin: 10px 0px;
    padding: 8px;
}

.user_dashboard>ul>li>a {
    color: white !important;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.user_main_content {
    flex: 8;
}

.myinfo__holder {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
}

.myinfo {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border: 0.1px solid var(--logocolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 150px;
}

.myinfo>h2 {
    font-size: 18px;
    font-weight: 500;
}


/* chart */
.userchartfrontend {
    display: flex;
    justify-content: baseline;
    gap: 10px;
    margin: 50px 0px;
}

#myChartleft {
    width: 100%;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#myChartright {
    width: 100%;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* the end */
@media screen and (max-width:768px)
{
    .userchartfrontend {
            flex-wrap: wrap;
        }

        #myChartleft {
            width: 100%;
            max-width: 100%;
        }

        #myChartright {
            width: 100%;
            max-width: 100%;
        }
}
